version: "3.9"
services:
  nginx:
    image: nginx:latest
    ports:
      - "12000:80"
    volumes:
      - ./nginx/nginx.conf:/etc/nginx/nginx.conf:ro
      - ./nginx/not_found.html:/usr/share/nginx/html/not_found.html
    depends_on:
      - public-app
    networks:
      - ctfnet
  public-app:
    build: ./public-app
    ports:
      - "8080:8080"
    volumes:
      - ./public-app:/app
    # depends_on:
    #   - admin_api
    networks:
      - ctfnet
  
  
  admin_api:
    build: ./admin-api
    ports:
      - "9000:9000"
    expose:
      - "9000"
    volumes:
      - ./admin-api:/home/appuser/app
    networks:
      - ctfnet
    
  # suid-sim:
  #   build: ./suid-sim
  #   expose:
  #     - "7000"
  #   networks:
  #     - ctfnet

networks:
  ctfnet:
    driver: bridge
